@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Montserrat:wght@500&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=M+PLUS+Rounded+1c&family=Montserrat:wght@500&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Fredoka&family=M+PLUS+Rounded+1c&family=Montserrat:wght@500&family=Parisienne&display=swap');
html{
  overflow-x: hidden;
}

.pt-sans {
  font-family: "PT Sans", sans-serif;
}
.damion {
  font-family: "Damion", cursive;
}
.body-home {
  text-shadow: 10px 10px rgb(88, 6, 88);
}

.text-shadow {
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.body-home {
  overflow-x: hidden;
}
.paralax {
  position: absolute;
  height: 100%;
}
.paralax-item {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.p-item1 {
  background: url("./images/m_1.png") center/cover no-repeat;
  z-index: 1;
}

.p-item3 {
  background: url("./images/m_3.png") bottom/100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.contain {
  position: relative;
  margin: 0 auto;
}
.start-button{
  z-index:3;
}
.content-header {
  z-index: 2;
}
.start{
  z-index: 2;
  bottom: 15%;
  cursor: pointer;
  margin-left: 20%;
  background-position: center;
}
.res{
  overflow-y: scroll;
  overflow-x: hidden;
}
